@charset "UTF-8";

/*------------------------------------------------------------------------------------
  '01_settings'
------------------------------------------------------------------------------------*/
@import "01_settings/colors";
@import "01_settings/typography";


/*------------------------------------------------------------------------------------
  '02_tools'
------------------------------------------------------------------------------------*/
@import "02_tools/absolutePosition";
@import "02_tools/bg-position";
@import "02_tools/bg-repeat";
@import "02_tools/bg-size";
@import "02_tools/border-spacing";
@import "02_tools/clearfix";
@import "02_tools/cursor-pointer";
@import "02_tools/flicker-remove";
@import "02_tools/hiddenHack";
@import "02_tools/italic";
@import "02_tools/list-no-style";
@import "02_tools/text-decoration";
@import "02_tools/transitions";
@import "02_tools/uppercase";
@import "02_tools/user-select";

/*------------------------------------------------------------------------------------
  '03_generic'
------------------------------------------------------------------------------------*/
@import "03_generic/base";
//@import "03_generic/theme-overrides";


/*------------------------------------------------------------------------------------
  '04_base'
------------------------------------------------------------------------------------*/
@import "04_base/b-a";


/*------------------------------------------------------------------------------------
  '05_components'
------------------------------------------------------------------------------------*/
@import "05_components/c-icon";


/*------------------------------------------------------------------------------------
  '06_objects'
------------------------------------------------------------------------------------*/
@import "06_objects/o-copyright";
@import "06_objects/o-mainFooter";
@import "06_objects/o-mainHeader";
@import "06_objects/o-news";
@import "06_objects/o-novelty";
@import "06_objects/o-slider";
@import "06_objects/o-social";
@import "06_objects/o-subscribe";
@import "06_objects/o-tbl";
@import "06_objects/o-welcome";


/*------------------------------------------------------------------------------------
  '07_pages'
------------------------------------------------------------------------------------*/
//@import "07_pages/page";


/*------------------------------------------------------------------------------------
  '08_trumps'
------------------------------------------------------------------------------------*/
//@import "08_trumps/bg-colors";
//@import "08_trumps/bg-repeat";
@import "08_trumps/flex";
//@import "08_trumps/font";
//@import "08_trumps/position";
//@import "08_trumps/text-colors";
@import "08_trumps/typography";
//@import "08_trumps/visibility";


/*------------------------------------------------------------------------------------
  '09_vendor'
------------------------------------------------------------------------------------*/
//@import "09_vendor/v-plugin";
