a {
  color: inherit;

  .o-novelty_wrap & {
    color: inherit!important;

    &, &:hover {
      text-decoration: none!important;
    }

  }

  .shopCart &:hover,
  .shopCart &:focus,
  .shopCart &:focus:active {
    color: $white;
  }

}
