.o-catalog {
  font-size: 14px;

  a,
  .o-toggle_label {
    display: block;
    padding: .6rem .8rem;

    &:hover {
      text-decoration: none;
    }

  }

  &_list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  & > .o-catalog_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: .7rem 0 0;
  }

  & > .o-catalog_list > .o-catalog_item {
    width: 100%;
    margin-bottom: 1rem;
    //border: 1px solid rgba($text-color, .2);
  }

  & > .o-catalog_list > .o-catalog_item > a,
  & > .o-catalog_list > .o-catalog_item > .o-toggle_label {
    font-weight: bold;
    border: 1px solid rgba($text-color, .2);
  }

  & > .o-catalog_list > .o-catalog_item img {
    max-width: 100%;
    height: 100px;
  }

  &_item-drop > a {
    padding-right: 2rem;
  }

  & > .o-catalog_list > .o-catalog_item > a,
  & > .o-catalog_list > .o-catalog_item > .text-center,
  & > .o-catalog_list > .o-catalog_item > .o-toggle_label,
  & > .o-catalog_list > .o-catalog_item > .o-catalog_list {
    background-color: $white;
  }

  &_item .o-catalog_item > a,
  &_item .o-catalog_item > .o-toggle_label {
    padding-left: 1.7rem;
  }

  &_item .o-catalog_item .o-catalog_item > a,
  &_item .o-catalog_item .o-catalog_item > .o-toggle_label {
    padding-left: 2.4rem;
  }

  &_item-drop {
    position: relative;
  }

  &_item-drop > .o-catalog_list {
    display: none;
  }

  &_item:hover > a,
  &_item:hover > .o-toggle_label {
    color: $brand-primary;
  }

  //.o-article:hover &_link {
  //  color: $brand-primary;
  //  text-decoration: none;
  //}
  //
  //&_link {
  //  display: block;
  //  padding: .6rem .8rem;
  //  font-weight: bold;
  //}

  @media screen and ('min-width: 568px') and ('max-width: 767px') {

    & > .o-catalog_list > .o-catalog_item {
      width: 48%;
    }

  }

  @media screen and ('min-width: 768px') {

    & > .o-catalog_list > .o-catalog_item {
      width: 32%;
    }

  }

}
