.o-copyright {
  padding: .6rem 0 .5rem;
  margin-top: 1rem;
  background-color: rgba($footer-bg, .6);

  .facebook {

    img {
      height: 22px;
    }

  }

  a:hover {
    color: $brand-primary;
  }

}
