.o-novelty {
  padding: .8rem;
  border: 5px solid rgba($brand-primary, .08);
  background-color: rgba($text-color, .04);

  .o-gallery & {
    padding: .4rem;
    margin-bottom: 1rem;
  }

  &:hover {
    border: 5px solid rgba($brand-primary, .2);
  }

  &:hover {}

  &_title {
    margin: 0;
    font-size: 1rem;
    color: $brand-primary;
  }

  &_img {
    width: 100%;
    margin-top: .4rem;
  }

  &_text {
    margin-top: .4rem;
    font-size: .875rem;
    line-height: $line-height-md;
  }

  &_wrap {
    margin-top: 1rem;
  }

  &,
  &_link,
  &_text {
    @include transition();
  }

  &_link {
    color: $text-color;
  }

  &_link:hover {
    text-decoration: none;
  }

  &_link:hover .o-novelty_text {
    color: $brand-primary;
  }

  &_sectionWrap {
    padding: 1rem 0 3rem;
    background-color: darken($main-bg, 1%);
  }

}
