.o-toggle {

  &_trigger {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }

  &_label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
    margin: 0;
    cursor: pointer;

    .first,
    .second {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
    }

    .first {
      opacity: 1;
    }

    .second {
      opacity: 0;
    }

    .o-catalog_item-drop:hover > & {
      color: $brand-primary;
    }

  }

  &_body {
    @include transition($time: 800ms);
    max-height: 0;
    overflow: hidden;
  }

  &_trigger[type="checkbox"]:checked ~ .o-toggle_label {
    color: $brand-primary;

    .first {
      opacity: 0;
    }

    .second {
      opacity: 1;
    }

  }

  &_trigger[type="checkbox"]:checked ~ .o-toggle_body {
    max-height: 1000px;
  }

  &_trigger[type="checkbox"]:checked ~ .o-catalog_list {
    display: block;
  }

  .o-catalog > .o-catalog_list > .o-catalog_item > &_trigger[type="checkbox"]:checked ~ .o-catalog_list {
    border: 1px solid rgba($text-color, .2);
    border-top: 0;
  }

  .o-catalog > .o-catalog_list > .o-catalog_item > &_trigger[type="checkbox"]:checked ~ a {
    border-bottom: 0;
  }

}
